<%- include('../includes/header.ejs', pageName) %>
     <%- include("../includes/navbar.ejs") %>
          <div class="container py-5">
               <div class="row justify-content-center">
                    <div class="col-7">
                         <form action="/auth/user-login" method="post">
                              <div class="mb-3">
                                   <label for="exampleInputEmail1" class="form-label">email</label>
                                   <input name="email" type="text" class="form-control">
                              </div>
                              <div class="mb-3">
                                   <label for="exampleInputPassword1" class="form-label">password</label>
                                   <input type="password" name="password" class="form-control"
                                        id="exampleInputPassword1">
                              </div>

                              <button type="submit" class="btn btn-primary">Submit</button>
                              <%= params !=='form' && !!params ? params : null %>
                         </form>
                    </div>
               </div>
          </div>
          </div>
          <%- include('../includes/footer.ejs') %>